<menu>
    <ul>
        <li>

        </li>
        <li>
            <img src="http://pre-static.istudentapp.ru/images/calendarIcon.png" alt="">
        </li>
        <li>
            <img src="http://pre-static.istudentapp.ru/images/knowledgeIcon.png" alt="">
        </li>
        <li>
            <img src="http://pre-static.istudentapp.ru/images/dialogsIcon.png" alt="">
        </li>
        <li>
            <img src="http://pre-static.istudentapp.ru/images/projectsIcon.png" alt="">
        </li>
        <li>
            <img src="http://pre-static.istudentapp.ru/images/settingsIcon.png" alt="">
        </li>
        <li>
            <img src="http://pre-static.istudentapp.ru/images/exitIcon.png" alt="">
        </li>
    </ul>
</menu>