# Created by .ignore support plugin (hsz.mobi)
node_modules/**/
node_modules/*
*.md
*.idea/*

.idea/workspace.xml

.idea/codeStyleSettings.xml

*.xml

.idea/workspace.xml

.idea/jsLibraryMappings.xml
