html, body, #all{
	min-width: 100%;
	font-size: 13pt;
	font-family: "Ubuntu", sans-serif;
	background: #ebebeb;
	margin: 0px;
	padding: 0px;
	outline:0px;
    min-height: 100vh;

}
body{
}
hr{
    margin: 0px;
}
p{
	-webkit-margin-before: 0em;
 	-webkit-margin-after: 0em;
  	-webkit-margin-start: 0px;
  	-webkit-margin-end: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
ul{
	list-style: none;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    -moz-margin-before: 0em;
    -moz-margin-after: 0em;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    font-size: 12pt;
}
input, textarea{
	font-size: 11pt;
	padding: 5px;
	border: 0px inset;
  	border-image-source: initial;
  	border-image-slice: initial;
  	border-image-width: initial;
  	border-image-outset: initial;
  	border-image-repeat: initial;
  	-webkit-rtl-ordering: logical;
  	-webkit-user-select: text;
    -moz-rtl-ordering: logical;
    -moz-user-select: text;
  	cursor: auto;

}

header{
	height: 40px;
	background:#393b40; 
}
#all{
	padding-bottom: 30px;
	margin-bottom: 20px;
}

.header_buttons{
	color: #68a4d9;
	vertical-align: middle;
	padding: 10px;
	padding-top: 9px;
	cursor: pointer;



}
.headerRightButton{
	margin-right: 20px;
	float: right;
}
.headerLeftButton{
	float: left;
	font-size: 14pt;

}
.logo{
	height: 30px;
	margin-top: 5px;
	float:left; 
	margin-left: 20px;
	margin-right: 20px;
}

/*
	разбиение всей страницы на 3 секции
*/

.centerAndRightContentBlock{
	padding-left: 80px;
	margin-top: 10px;
    min-width: 100%;
}
.left{
	background: rgba(0,0,0,0.04);
	position: fixed;
	top:40px;
	min-width: 60px;
	min-height: 100%;
	cursor: pointer;
	transition: 0.8s background;
}
.left:hover{
	background: rgba(0,0,0,0.11);
}
.center100{
    width:100%;
	background: white;
	float: left;

	margin-bottom: 30px;
    min-width: 615px;

}
.centerFixed{
    margin: 0px auto;
    padding-bottom: 20px;
    background: white;
    margin-bottom: 30px;
    min-width: 615px;
    float: left;


}

.right{
    vertical-align: top;
	min-width: 250px;
	padding: 0px;
}
.hide{
	display: none;
}
#footer{
	background: #393b40;
	min-height: 90px;

}
.clearfix{
	clear: both;
}
.smoothEverything{
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	min-height: 100%;
	min-width: 100%;
}
.choosen{
	background: rgba(104,164,217,0.4);
}
.cross{
	position: absolute;
	top:5px;
	right: 15px;
	font-size: 14pt;
	cursor:pointer;
	color: rgba(0,0,0,0.5);
	transition: color 0.5s;	
}

.cross:hover{
	color:#393b40;

}
.noscrollablePage{
	overflow: hidden;
}

.nextPrevBlock{
	float:right;
	margin-right: 0%;

}
.prevButton{
	color:rgba(57,59,64, 0.7);
	font-size: 11pt;
	cursor:pointer ;
	margin-right: 10px;

}
.nextButton{
	margin-top: 20px;
	font-size: 12pt;
	cursor: pointer;
}
.nextButton:hover{
	
}
.centerPReqPL{
    padding-left: 120px;
    padding-right: 120px;
    margin: 0px auto;
    margin-top: 20px;
    width: 100%;

}

.dropdown{
    font-size: 10pt;
    color:#393b40;
    max-width: 238px;

}
.dropdownChoosen{
    padding: 6px;
    background: rgba(0,0,0,0.05);
    cursor: pointer;
    min-width: 200px;


}
.dropdownChoosen span{
    float: right;
    font-size: 10pt;
    color:#68a4d9;
}
.dropdown ul{

    min-width: 270px;
    border: solid 1px rgba(0,0,0,0.05);
    margin-left: 0px;
    background: #f0f0f0;
    max-height: 122px;
    overflow-y: scroll;
    font-size: 10pt;

}
.dropdown ul li{
    padding: 4px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0,0,0,0.05);
    transition: 0.1s background;
    cursor: pointer;
    list-style: none;
    padding-left: 6px;
    font-size: 10pt;
    padding-right: 32px;

}

.dropdown ul li:hover{
background: #68a4d9;
}
.dropdownHideScroll{
    overflow: hidden;
    max-width: 238px;
    position: absolute;

}