<nav>
    <img src="assets/icon_for_avto_line.png" alt="" class="logo">
    <span class="header_buttons headerLeftButton">АвтоМы</span>
    <%if(!user){ %>
        <span class="header_buttons headerRightButton">Вход</span>
    <% } else{  %>
        <span class="header_buttons headerRightButton">Выход</span>
    <% } %>
</nav>