<div class="signInUp hide">
    <span class="cross">&#10005</span>
    <div class="signInUpHeader">
        <p class="signIn choosen">Вход</p>
        <p class="signUp">Регистрация</p>
    </div>
    <form action="" id="signUpForm" >
        <input type="text" name='firstName' placeholder='Имя...' autocomplete="off" value="Антон"/>
        <input type="text" name = 'lastName' placeholder='Фамилия...' autocomplete="off" value="Зуев"/>
        <input type="password" name='password' placeholder='Пароль...' autocomplete="off" value=""/>
        <input type="password" name='repeatedPassword' placeholder='Повторите...' autocomplete="off" value=""/>
        <input type="email" name = 'mail' placeholder='Почта...' autocomplete="off" value="anton_zuev@bk.ru"/>
    </form>
    <form action="" id="signInForm" >
        <input type="email" name = 'mail' placeholder='Почта...'autocomplete="off" />
        <input type="password" name='password' placeholder='Пароль...' autocomplete="off" />
    </form>
    <p class="authError"></p>
    <p class="authSubmitFormBlock nextPrevBlock">
        <span class="prevButton">Забыли пароль</span>
        <span class="nextButton signUpInSubmit">Продолжить</span>
    </p>
</div>
