<div class="forumMainPageAddNewQuestionBlock hide">
    <form action="#" id='forumMainPageAddNewQuestionForm' onsubmit = 'return false'>
        <table  cellpadding = '2' style="margin-bottom: 20px">
            <tr>
                <td valign="top" align="center">
                    <div class="dropdown" id="carListDropDown">
                        <p class="dropdownChoosen"><span>▼</span>Выбирети машину</p>
                        <div class="dropdownHideScroll hide">
                            <ul class="">

                            </ul>
                        </div>
                    </div>
                </td>
                <td valign="top" align="center">
                    <div class="dropdown" id="modelListDropDown">
                        <p class="dropdownChoosen"><span>▼</span>Выбирети модель</p>
                        <div class="dropdownHideScroll hide">
                            <ul class="">

                            </ul>
                        </div>

                    </div>
                </td>
                <td valign="top" align="center">
                    <div class="dropdown" id="systemListDropDown">
                        <p class="dropdownChoosen"><span>▼</span>Выберите систему</p>
                        <div class="dropdownHideScroll hide">
                            <ul class="">

                            </ul>
                         <div class="dropdownHideScroll">
                    </div>
                </td>
            </tr>
        </table>

        <input type="text" name = 'title' placeholder = "Название..." /> <br/>
        <textarea name= 'content' placeholder="Содержание вопроса..."></textarea>
        <div class="clearfix"></div>
        <p class="forumMainPageAddNewQusetionBlockSubmit nextPrevBlock">
            <span class="prevButton">Закрыть</span>
            <span class='nextButton'>Поехали</span>
        </p>
        <span class="addQuestionError error"></span>
        <div class="clearfix"></div>


    </form>
</div>
