<div id="forumMainPageQuestionListBlock" class=''>
    <p class="forumMainPageCenterHeader">
        <span>Последние вопросы</span> <span class="forumMainPageAddQuestion">Задать вопрос</span><span class="forumMainPageShowOnlyMine">Только мои вопросы</span>
    </p>
    <ul class="forumMainPageQuestionSearchResult">
        <p class="forumMainPageQuestionSearchResultAlt ">Здесь будет отображаться результат поиска</p>
    </ul>
    <p class="forumMainPageLoadMoreResults hide">
        Загрузить еще
    </p>
</div>