<ul class='forumMainPageRightUl'>
    <li class="questionsSearchInformation">Производитель</li>
    <input type='text' id='carName'  placeholder='Поиск производителя...'/>
    <ul class="forumMainPageSearchAlt ForumMainPageCarResult hide">

    </ul>
    <li class="questionsSearchInformation">Модель</li>
    <input type='text'id='carModel' placeholder='Поиск модели..'/>
    <ul class="forumMainPageSearchAlt ForumMainPageModelResult hide">

    </ul>
    <li class="questionsSearchInformation">Система</li>
    <input type='text' id='carSystem' placeholder='Поиск системы...'/>
    <ul class="forumMainPageSearchAlt ForumMainPageSystemResult hide">
    </ul>
    <p class="questionsSearchInformationSearchButton ">Показать</p>
</ul>