<% layout('/layout/lkLayout') -%>
<% block('title', 'Диалоги') -%>
<% block('style', '<link rel="stylesheet" href="/dialogs.css"/>')%>
<% block('script', '<script type="text/javascript" src="http://pre-static.istudentapp.ru/scripts/dialogs.js"></script>')%>
<% block('smoothEverythingContent', '<div id="createConversation"><p class="nameOfDialog">Создание беседы</p><input type="text" placeholder="Название беседы..." name="titleOfDialog"><p class="nameOfDialog">Участники:</p><input type="text" placeholder="Начните вводить имя, фамилию или номер группы" name="participants"><ul id="listOfParticipants" class="hide"></ul><ul id="listOfAddedParticipant"></ul><div class="buttonGreen" id="createDialog">Создать</div></div>') %>


<script> window.host = <%-JSON.stringify(host)%></script>
<p class="lkPageHeader">Диалоги</p>
<table cellspacing='30px;' style='margin:-30px;'>
<tr>
<td id="listOfDialogs">
    <div id='searchContact'>
        <input type="search"  placeholder='Начните вводить имя, фамилию или группу'>
    </div>
    <div id="wrapListOfDialogs">
        <div id="noResultsOfSearch" class="hide" >Поиск не дал результатов</div>
        <ul class='dialogsItemList'>

        </ul>
    </div>
</td>

<td id="layoutForDialog">
    <p class="nameOfDialog" id='titleOfCurrentDialog'>Старосты</p>

    <div id="buttonForCreateConversation"> Создать беседу</div>

    <p id="noMessages" class='hide'>Здесь будет выводиться Ваша переписка</p>

    <div id="wrapLayoutForDialog">

    </div>

    <form id='formForAnswer'action="">

        <div style=" margin-left:88px;">
            <span class="button" id='addDocument'>Прикрепить</span>

        </div>
    </form>
</td>
</tr>
</table>