<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестирование NotificationService</title>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
    <script src="/jquery-2.1.1.min.js"></script>

</head>
<body>
<script src="/socket.io/socket.io.js"></script>

    <ul class="messages">

    </ul>
<script>
    var im = io("ws://localhost:3000/im");

    im.on('connect', function(){
        im.emit("connection:accepted");
/*
        var imItem = {
            participants: ["56dd295d715e16c53ce2e8da","56dc4ecc380e1b4e768fe12e", "56dd2900715e16c53ce2e8d8", "56dc4eab380e1b4e768fe12d" ],
            message:{
                attachments: [],
                text: "Первое сообщение"
            },
            title: "Беседа 1 2 3"
        }

       im.emit('createGroupConversation', imItem, function(data){
            console.log(data);
        });
/*
		var messageItem = {
            text:"Сообщение в public беседу",
            attachments: [],
            convId:"56dd2a38532b3cc87ea716c9"
        }

        im.emit('sendMessage', messageItem, function(data){
            console.log(data);
        });
/*
        var data = {
            userId:"56a39f9e0e5d3cd81d876f98",
            title: "Попов"

        };
        im.emit('getConvsByTitle', data, function(data){
            console.log(data);
        })

        data = {
            convId: "56a8eeaedc88281bbc9ff623"
        }
        im.emit('stopTyping', data);

	    im.on('stopTyping', function(data){
		    console.log(data);
	    })

	    data = {
		    convId:"56a8e20a6a829d09bb40ce04",
		    newParticipants: ["56a39f9e0e5d3cd81d876f98", "56a39d30fa3a61d11de5d36a"]
	    }
	    im.emit('addParticipants', data,function(data){
		    console.log(data);
	    })
	    */
	    data = {
		    convId:"571cfbab3dc135bb7de8a6b9",
		    users: ["56dc4eab380e1b4e768fe12d", "56dac471cbee69326e9be7bf"]
	    }
	    im.emit('removeParticipant',data,function(data){
		    console.log(data);
	    } )


		/*
		im.emit("loadConv", {convId: "56ab3a55152b83310534ca6c"}, function(data){
			console.log(data);
		})

		var data = {
			query: "Плосков"
		};
		im.emit('findContacts', data, function(data){
			console.log(data);
		} )
		*/
    });






</script>
</body>
</html>