<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестирование NotificationService</title>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
    <script src="/jquery-2.1.1.min.js"></script>

</head>
<body>
<script src="/socket.io/socket.io.js"></script>

    <ul class="messages">

    </ul>
<script>
    var socket = io('ws://localhost:3000/notifications');
    var im = io('ws://localhost:3000/im');


    //var socketGlobal = io('ws://localhost:3000/');
    socket.on('news', function (data) {
        var news = "<li>"+data.message+"</li>";
        $(news).appendTo($('.messages'));
        console.log(data);
    });

    im.on('dialog', function (data) {
        var news = "<li>"+data.message+"</li>";
        $(news).appendTo($('.messages'));
        console.log(data);
    });
    var imItem = {
        title: "Диалог 2",
        participants: [ "5611659632ede0011018e974"]
    }
    /*
    im.emit('createDialog', imItem, function(data){
        console.log(data);
    });
    */

</script>
</body>
</html>