<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестирование NotificationService</title>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
    <script src="/jquery-2.1.1.min.js"></script>

</head>
<body>
<script src="/socket.io/socket.io.js"></script>

    <ul class="messages">

    </ul>
<script>
    var im = io("ws://localhost:3000/im");

    im.on('connect', function(){
        im.emit("connection:accepted");

        var imItem = {
            participants: ["56d1e4d1b2bc66943c9a6724","56d1e52bb2bc66943c9a6725"],
            message:{
                attachments: [],
                text: "Первое сообщение"
            },
            title: "Название 76 групповой беседы."
        }
        im.emit('createGroupConversation', imItem, function(data){
            console.log(data);
        });

        var messageItem = {
            text:"Сообщение в private беседу",
            attachments: [],
            convId:"56a8eeaedc88281bbc9ff623"
        }
		/*
        im.emit('sendMessage', messageItem, function(data){
            console.log(data);
        });

        var data = {
            userId:"56a39f9e0e5d3cd81d876f98",
            title: "Попов"

        };
        im.emit('getConvsByTitle', data, function(data){
            console.log(data);
        })

        data = {
            convId: "56a8eeaedc88281bbc9ff623"
        }
        im.emit('stopTyping', data);

	    im.on('stopTyping', function(data){
		    console.log(data);
	    })

	    data = {
		    convId:"56a8e20a6a829d09bb40ce04",
		    newParticipants: ["56a39f9e0e5d3cd81d876f98", "56a39d30fa3a61d11de5d36a"]
	    }
	    im.emit('addParticipants', data,function(data){
		    console.log(data);
	    })
	    data = {
		    convId:"56a8e20a6a829d09bb40ce04",
		    userId: "56a39f9e0e5d3cd81d876f98"
	    }
	    im.emit('removeParticipant',data,function(data){
		    console.log(data);
	    } )
	    */

		im.emit("loadConv", {convId: "56ab3a55152b83310534ca6c"}, function(data){
			console.log(data);
		})

		var data = {
			query: "Плосков"
		};
		im.emit('findContacts', data, function(data){
			console.log(data);
		} )
    });






</script>
</body>
</html>