<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://pre-static.istudentapp.ru/styles/welcomePage.css">
    <link rel="stylesheet" href="http://pre-static.istudentapp.ru/styles/globalStyles.css"/>
    <title>Добро пожаловать!</title>
</head>
<body>

<script> window.host = 'http://localhost:3000'</script>
<header>

    <p id='TitleOfHeader'>
        IStudent
    </p>

    <p class='button' id='signIn'>
        Вход
    </p>

    <p class='button' id='signUp'>
        Регистрация
    </p>

    <div class='clearfix'></div>

</header>

<div id='layout'>
    <section>
        <div class='welcomePageListItemHeader'>
            <hr>
            <p>Для кого этот ресурс?</p>
        </div>

        <div class='InformativeBlock'>
            <img src="http://pre-static.istudentapp.ru/images/firstListItemImg.jpg" alt="">
            <p>Этот ресурс в первую очередь ориентирован на студентов СПБГЭТУ. Мы постарались собрать все проблемы, с которыми мы столкнулись на первом году обучения в Вузе, и решить их. К тому же мы добавили к этому всеми и элемент социальной сети - почему бы не подарить ЛЭТИ свою собственную социальную сеть?</p>
            <div class="clearfix"></div>
        </div>
    </section>




    <section>
        <div class='welcomePageListItemHeader'>
            <hr>
            <p>Чем можно пользоваться?</p>
        </div>
        <table id='welcomePageListItemTable' >
            <col width="33%">
            <col width="33%">
            <col width="33%">
            <tr>
                <td>
                    <span class="welcomePageListItemColumnHeader">В курсе всех событий</span>
                    <p>Благодаря модулю “Календарь” вы всегда будете знать все, что должно произойти: расписание экзаменов, встреч группы, дни рождения - теперь ничего не пройдет мимо вас!
                    </p>
                </td>
                <td>
                    <span class="welcomePageListItemColumnHeader">Участие в проектах</span>
                    <p>Каждый участник может создать свой проект и рассказать об этом всему университету. Наверняка у тебя уже есть идея, которую тебе очень хочется реализовать.</p>
                </td>
                <td>
                    <span class="welcomePageListItemColumnHeader">Всегда на связи</span>
                    <p>Каждый участник может общаться с каждым и не волноваться, что его сообщения кто-то прочитает вся информация надежно зашифрована. Взломаешь?
                    </p>
                </td>
            </tr>
        </table>
    </section>

    <section>

        <div class='welcomePageListItemHeader'>
            <hr>
            <p>Что мы можем улучшить?</p>
        </div>
        <form id='welcomePageSuggestForm'>
            <input type="text" placeholder= 'Как с вами связаться?' name='address'/><br>
            <input  name='AdditionalInformationAboutSuggestor' type='text'placeholder='Дополнительная информация о вас(не обязательно)'/><br>
            <textarea name='DescriptionOfSuggestion' type='text' placeholder='Ваше предложение...' rows='10'></textarea>
            <p class='button'>Отправить</p>
            <div class="clearfix"></div>
        </form>

    </section>



</div>

<div class="hide smoothEveryThing">
    <div id="signInUpBlock">
        <form action="#" name='signInForm' class='hide'>
            <p>Вход</p>
            <input type="text" name = 'studNumber' placeholder= 'Номер студенческого...'>
            <input type="password" name = 'password' placeholder='Пароль...'>
            <ul>
                <li style='float:right' id='signInSubmit'>Войти</li>
                <li style='float:left' id='forgetPassword'>Забыли пароль?</li>
            </ul>
            <div class="clearfix"></div>
        </form>
        <span class="errorMsg" id="signInErr"></span>
        <form action="#" name='signUpForm' >
            <p>Регистрация</p>
            <input type="text" name='firstName' placeholder='Имя...'>
            <input type="text" name='lastName' placeholder='Фамилия...'>
            <input type="text" name = 'studNumber' placeholder= 'Номер студенческого...'>
            <input type="text" name='faculty' placeholder='Факультет...'>
            <input type="text" name='year' placeholder='Курс...'>
            <input type="text" name='groupNumber' placeholder='Группа...' pattern="[0-9]">
            <input type="password" name = 'password' placeholder='Пароль...'>
            <input type="password" name = 'repeatPassword' placeholder='Повторите пароль...'>
            <p id='signUpSubmit' class='button'>Регистрироваться</p>
        </form>
        <span class="errorMsg" id="signUpErr"></span>
    </div>
</div>

<footer>
    <table>
        <col width="33%">
        <col width="33%">
        <col width="33%">
        <tr>
            <td>
                <h3 >Деканату</h3>
                <p>Как пользоваться</p>
                <p>Помощь</p>
            </td>
            <td>
                <h3 >Студентам</h3>
                <p>Как пользоваться</p>
                <p>Правила</p>
            </td>
            <td>
                <h3 >Контакты</h3>
                <p>Эл почта</p>
                <p>Скайп</p>
            </td>
        </tr>
    </table>
    <p class='copyrights'>IStudent.2015 ©</p>
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="http://pre-static.istudentapp.ru/scripts/additionalMethods.js" ></script>
<script type="text/javascript" src="http://pre-static.istudentapp.ru/scripts/Error.js"></script>
<script type="text/javascript" src="http://pre-static.istudentapp.ru/scripts/UserClass.js"></script>
<script type="text/javascript" src="http://pre-static.istudentapp.ru/scripts/scripts.js"></script>
<script type="text/javascript" src="http://pre-static.istudentapp.ru/scripts/welcomePage.js"></script>


</body>
</html>